.games{
    padding: 20px;
    padding-top: 20px;
    text-align: center;
  }
  
  .games .game {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 380px;
    text-align: left;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
  }
  
  .games .game img {
    position: relative;
    top: -5px;
    margin: auto;
    transition: all .2s ease;
    width: 100%;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
            clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
  }
  .games .game img:hover {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
            clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .games .game h1 {
    line-height: 20px;
    font-size: 20px;
    margin-top: 15px;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    border-bottom: 1px solid;
    border-color: #dfdfdf;
    padding-bottom: 40px;
  }

  .header-image {
    height: 70px;
  }

  .header-icon {
    width: 30px;
  }

  .menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
  }

  .describe {
    padding: 20px;
    padding-top: 20px;
    text-align: center;
  }